<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<nav>
    <div id="modoTela" onclick="modoTela()">
        <button></button>
    </div>

    <span class="icon">
        <a href="javascript:void(0);" onclick="abreMenu()">
            <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
        </a>
    </span>

     <ul id="menu">
        <a id="home-link" href="index.html"><li>Início</li></a>
        <!--<li><a href="#">contato</a></li>-->
    </ul>
</nav>